<h3>Edit <%= @collection.category %></h3>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(@collection) do |f| %>

  <p><%= f.text_field :category, placeholder: "Collection category" %></p>

  <%= f.submit %>

<% end %>
