<h1><%= link_to @collection.owner.name, owner_path(@collection.owner) %>'s <%= @collection.category %></h1>
<p>
  <% if @collection.owner.id == Owner.find_by(user_id: current_user.id) %>
    <%= link_to "Edit collection category", edit_collection_url(@collection) %>
  <% end %>
</p>

<h2>Cards:</h2>
<ul><% @collection.cards.each do |card| %>
<li><%= card.count %>x <%= link_to card.name, card_path(card) %></li>
<% end %></ul>
