  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


<h2>Sign in</h2>

<!-- error message iterator here -->
<%= form_tag '/login' do |f| %>

  <%= label_tag "User Name" %>
  <%= text_field_tag :user_name%><br>

  <%= label_tag "Password" %>
  <%= password_field_tag :password %>

  <%= submit_tag "Log In", :id => "submit", :name => "submit" %>

<% end %>
