<h2>Sign up</h2>

<!-- error message iterator here -->

<%= form_for(@user) do |f| %>

  <%= f.label "Username:" %><br>
  <%= f.text_field :user_name, placeholder: "Username" %><br>

  <%= f.label "Password:" %><br>
  <%= f.password_field :password, placeholder: "Password" %><br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>

  <%= f.submit %>

<% end %>
