<h3>Update How Many <%= @card.name %> You Have</h3>
<%= form_for @card do |f| -%>
<p><%= f.label :Count, "Count" %>  <%= f.number_field :count %></p>
Collection

<p><%= f.submit "Update Card Count", :name => 'submit', :disable_with => 'Creating Carding...' %>
</p><% end %>

<%= button_to "Delete This Card (all of them!)", {:controller => :cards,
      :action => 'destroy', :id => @card.id, confirm: 'Are you sure?' }, :method => :delete %>