<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @card do |f| -%>
<p><%= f.label :Name, "Name" %>  <%= f.text_field :name %></p>
<p><%= f.label :Count, "Count" %>  <%= f.number_field :count %></p>
Collection
<% @owner.brands.each do |brand| %>
<p><%= f.radio_button :brand, brand.category %>  <%= f.label :brand, brand.category %> </p>
<% end %>
<%= f.radio_button :brand, 'other' %>  <%= text_field_tag :brand, 'new brand' %>
<p><%= f.submit "Create Card", :name => 'submit', :disable_with => 'Creating Carding...' %>
</p><% end %>
