<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @card do |f| -%>
<p><%= f.label :Name, "Name" %>  <%= f.text_field :name %></p>
<p><%= f.label :Count, "Count" %>  <%= f.number_field :count %></p>
Collection
<% @owner.collections.each do |collection| %>
<p><%= f.radio_button :collection, collection.category %>  <%= f.label :collection, collection.category %> </p>
<% end %>
<%= f.radio_button :collection, 'other' %>  <%= text_field_tag :collection, 'new collection' %>
<p><%= f.submit "Create Card", :name => 'submit', :disable_with => 'Creating Carding...' %>
</p><% end %>
