<%= link_to @card.brand.owner.name, owner_path(@card.brand.owner) %>'s
<%= @card.count %>x
<%= @card.name %>
from their <%= link_to @card.brand.category, brand_path(@card.brand) %> collection.

<br></br>
<% if @card.image_url %>
<p>  <%= image_tag @card.image_url %>
</p><% end %>
<% if @card.owner.user_id == current_user.id %>

<% if @card.decks %>
<p>Decks: </p>
<% @do = @card.decks.uniq.map do |deck| %>
  <ul><%= link_to deck.name, deck_path(deck) %></ul>
  <% end %> <% end %>

<p><%= link_to "Edit Card", edit_card_path(@card)  %></p>
<% end %>

<p>
<%= link_to "Back to my cards", cards_path  %></p>
