<h3>Edit <%= @brand.category %></h3>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice].first %></div>
<% end %>

<%= form_for(@brand) do |f| %>

  <p><%= f.text_field :category, placeholder: "Collection category" %></p>
 Associated API
  <p>  <%= f.radio_button :api_name, "Pokemon" %> <%= f.label :api_name, "Pokemon" %> </p>
  <p>  <%= f.radio_button :api_name, "MTG" %> <%= f.label :api_name, "Magic The Gathering" %> </p>
  <%= f.submit %>

<% end %>


<%= button_to "Delete This Collection (all of it! and all associated cards!)", {:controller => :brands,
      :action => 'destroy', :id => @brand.id, confirm: 'Are you sure?' }, :method => :delete %>
