<h1><%= link_to @brand.owner.name, owner_path(@brand.owner) %>'s <%= @brand.category %></h1>
<p>
  <% if @brand.owner.user_id == current_user.id %>
    <%= link_to "Edit collection category", edit_brand_url(@brand) %>
  <% end %>
</p>

<h2>Cards:</h2>
<ul><% @brand.cards.each do |card| %>
<li><%= card.count %>x <%= link_to card.name, card_path(card) %></li>
<% end %></ul>

<%= pie_chart(@cards) %>
<% if @brand.owner.user_id == current_user.id %>
<p><%= link_to "Edit Collection", edit_brand_path(@brand) %></p>
<% end %>

<p><%= link_to "Back to all collections", brands_path %></p>