<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag(decks_path) do %>
  <%= text_field_tag :name, "Name" %>
  <%= label_tag :name, "Deck Name" %>

  <%= label_tag :cards, "Cards" %>
  <div class="container">
    <% @card_by_counts.each_slice(3).with_index do |three_cards, incrementer| %>
    <div class="row">
      <% three_cards.each_with_index do |card, index| %>
        <div class="col-lg-4">
          <span class="image-checkbox">
            <!-- incrementer is 0, 1, 2, ... index is 0, 1, 2, ... so ids are 0, 1, 2, 0+3*1=3, etc -->
            <input type="checkbox" name="card[]" value=<%=card.id%> id=<%=index + incrementer * 3%>>
            <label for=<%=index + incrementer * 3%>><%= image_tag(card.image_url) %></label>
          </span>
        </div>
      <% end %>
    </div>
    <br>
    <% end %>
  </div>

  <%= submit_tag "Create Deck", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
<% end %>
