<h1><%= @owner.name %>'s <%= @deck.name %> deck</h1>
<ul><% @deck.cards_with_count.each do |array| %>
<li>      <%= array[0] %>x <%= link_to array[1].name, card_path(array[1]) %> </li>
        <% end %></ul>

</ul>

<p><% @deck.cards.each do |card| %>
    <%= image_tag card.image_url %>
<% end %>


</p>
<% if @owner.user_id == current_user.id %>
  <%= link_to "Edit this deck", edit_deck_path(@deck) %>
<% end %>
<br>
<%= link_to "Back to my decks", see_decks_path %>
