<h1><%= @owner.name %>'s <%= @deck.brand.category %> deck</h1>
<%= @deck.name %>

<ul><% @deck.cards_with_count.each do |array| %>
<li>      <%= array[0] %>x <%= array[1].name %> </li> 
        <% end %></ul>

</ul>
